.DS_Store
dist/electron/*
dist/web/*
build/*
src/main/*
src/index.ejs
static/*
node_modules/*
.electron-vue/*
build/*
dist/*
src/renderer/token.txt
src/renderer/prepros.config
!build/icons
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep