.DS_Store
dist/electron/*
dist/web/*
build/*
src/main/*
src/index.ejs
static/*
node_modules/*
.electron-vue/*
build/*
dist/*
src/renderer/*.json
src/renderer/prepros.config
webpack.config.js
webpack.config.js*
!build/icons
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep